:root {
	--first-text-color: #212121;
	--second-text-color: #2196F3;
	--third-text-color: #757575;
	--four-text-color: #F5F4FA;
	--hero-text-color: #2F303A;
}

a {
	text-decoration: none;
}

ul,
h2,
h3,
p,
div {
	list-style: none;
	padding: 0;
	margin: 0;
}

body,
footer,
header,
main {
	font-family: 'Roboto', sans-serif;
	color: var(--first-text-color);
}

img {
	display: block;
}

.container {
	width: 1600px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	/* outline: 1px solid black; */
}

.card-container {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	width: 270px;
	height: 370px;
}

/* Site nav */

.header-container {
	display: flex;
	border: 1px solid var(--four-text-color);
	border-left: none;
	border-right: none;
	border-top: none;
}

.site-nav {
	margin: 0;
	display: flex;
	align-items: center;
}

.logo-header {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: var(--first-text-color);
	display: block;
	padding: 25px 0 25px 200px;
	margin-right: 90px;
}

.logo-web {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: var(--second-text-color);
}

.header-item:not(:first-child) {
	margin-left: 50px;
}

.nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--first-text-color);
}

.nav-link:hover,
.nav-link:focus {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--second-text-color);
}

.contacts-nav {
	display: flex;
	align-items: center;
	margin-left: 345px;
}

.link-contact {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--third-text-color);
}

.link-contact:hover,
.link-contact:focus {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--second-text-color);
}

/* main index.html*/

.main-container {
	background-color: var(--hero-text-color);
}

.hero-container {
	height: 600px;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.hero-button {
	position: absolute;
	width: 215px;
	height: 50px;
	margin-top: 350px;
	margin-left: auto;
	margin-right: auto;
	background: var(--four-text-color);
	/* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); */
	border-radius: 4px;
	color: var(--first-text-color);

	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	/* display: flex;
	align-items: center;
	text-align: center; */
	letter-spacing: 0.06em;
}

.hero-button:hover, 
.hero-button:focus {
	position: absolute;
	width: 215px;
	height: 50px;
	margin-top: 350px;
	background: var(--second-text-color);
	/* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); */
	border-radius: 4px;
	color: var(--four-text-color);
}

.hero-text {
	margin-top: 200px;
	width: 700px;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--four-text-color);
}

.main-about-text {
	width: 270px;
}

.main-about-text:not(:first-child) {
	margin-left: 30px;
}

.main-about {
	margin-top: 95px;
	width: 1170px;
	min-height: 100px;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

.main-about-text-h2 {
	font-weight: 700;
	line-height: 16px;
	font-size: 14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.main-about-text-p2 {
	margin-top: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
}

.main-ourwork-container {
	margin-top: 95px;
	width: 1170px;
	height: 390px;
}

.main-h2 {
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 0.03em;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.main-ourwork-ul {
	display: flex;

}

.main-ourwork-li {
	width: calc((100% - 60px) /3);
}

.main-ourwork-li:not(:first-child) {
	margin-left: 30px;
}

.ourteam-container {
	height: 650px;
	margin-top: 95px;
	background-color: var(--four-text-color);

}

.ourteam-ul {
	display: flex;
	align-items: center;
	padding: 0;
	justify-content: center;
}

.ourteam-li:not(:first-child) {
	margin-left: 30px;
}

.ourteam-text-h3{
	margin-top: 30px;
	margin-bottom: 10px;
}
.ourteam-text-p{
	margin-bottom: 30px;
}
/* footer */

.footer {
	height: 250px;
	background-color: var(--hero-text-color);
	color: var(--four-text-color);
}

address {
	margin-top: 20px;
	margin-left: 215px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
}

.footer-contacts-item {
	margin-top: 10px;
	margin-left: 215px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--third-text-color);
}

.footer-contacts-item:hover,
.footer-contacts-item:focus {
	letter-spacing: 0.03em;
	font-weight: 400;
	font-size: 14px;
	color: var(--second-text-color);
}

.logo-footer {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: var(--four-text-color);
	padding: 60px 160px 0px 215px;
	display: flex;
}

/* filter-buttons */

.filter {
	width: 575px;
	display: flex;
	align-items: center;
	margin-top: 95px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	gap: 8px;
}

.filter-buttons {
	padding: 5px 20px;
	height: 40px;
	box-sizing: border-box;
	background: var(--four-text-color);
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--first-text-color);

}

.filter-buttons:hover,
.filter-buttons:focus {
	background: var(--second-text-color);
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--four-text-color);
}

address {
	font-style: inherit;
}

/* portofolio.html galery*/

.section {
	padding-top: 35px;
	padding-bottom: 95px;
	
}

.gallery {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 30px;
	/* outline: 1px solid black; */
}

.gallery-item h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
}

.gallery-item p {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
}

.gallery-item {
	width: 370px;
	height: 405px;
	border: 1px solid #EEEEEE;
	border-top: none;
}

.gallery-wrapper {
	width: 322px;
	height: 70px;
	margin: 20px 24px;
}
